.header-bg {
  background: var(--color-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu ul {
  display: flex;
  gap: 20px;
}

.header-menu ul a {
  padding: 16px 12px;
}

.header-menu ul a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--color-0);
  margin-top: 4px;
  transition: 0.3s ease;
}

.header-menu ul a:hover::after,
.header-menu ul a.active::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu ul a {
    background: var(--color-11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu ul a:hover {
    background: var(--color-10);
  }

  .header-menu ul a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu ul {
    gap: 12px;
  }

  .header-menu ul a {
    background: var(--color-11);
    padding: 8px 12px;
    border-radius: 4px;
  }

  .header-menu ul a {
    font-size: 0.875rem;
  }
}
