.benefits-bg {
  background: var(--color-12);
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits h2 {
  margin-bottom: 60px;
}

.benefits-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.benefits-list li {
  flex: 1 1 300px;
}

.benefits-list img, .benefits-list h3 {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .benefits h2 {
    margin-bottom: 40px;
  }
}